/* Page one CSS */

.container h1 {
    font-family: 'Six Caps', sans-serif;
    text-align: center;
    font-size: 6em;
    letter-spacing: 0.05em;
    margin-top: auto;
/*    margin-bottom: auto;*/
}

.poster-main {
    height: 400px;
    width: 300px;
    border-radius: 10px;
}

.poster-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around
}


.poster-container li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.poster-text {
    font-family: 'Archivo Narrow', sans-serif;
    margin: 10px;
    font-size: 1.2em;
}

.info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: flex;
    justify-content: space-around
}

.info-container div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container div table {
    width: 100%;
    border-collapse: collapse;
}


.info-container div table td,
.info-container div table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-family: 'Open Sans', sans-serif;
}

.info-container div h4 {
    width: 50%;
    border-bottom: 2px solid black;
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 1.2em;
}

.info-container li {
    font-family: 'Open Sans', sans-serif;
}

/* Page two CSS */

h1>a {
    text-decoration: none;
    color: black;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*
.site-title {
    width: 400px;
    margin: auto;
    text-align: center;
}
*/

.poster-popular {
    height: 550px;
    width: 500px;
    border-radius: 10px;
}

.col {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

.content-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-top div {
    flex-basis: 550px;
}

.movie-info {
    align-self: flex-end;
    justify-content: end;
    font-family: 'Open Sans', sans-serif;
}

.movie-info h2 {
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 2em;
    margin-top: auto;
}

.movie-info span {
    padding-bottom: 10px;
}

.critic-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.critic-container p {
    flex-basis: 300px;
    font-family: 'Open Sans', sans-serif;
}

.movie-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-desc h3, .movie-reviews h3, .movie-showtimes h3 {
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 1.2em;
}

.movie-desc p {
    width: 90%;
    font-family: 'Open Sans', sans-serif;    
}

.movie-table {
    display: flex;
    flex-direction: column;
}

.movie-showtimes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-showtimes table {
    flex-basis: 560px;
    border-collapse: collapse;
}

.movie-showtimes table td,
.movie-showtimes table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-family: 'Open Sans', sans-serif;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
}

.break {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
}